<?xml version="1.0" ?>
<robot name="rgbd_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find pie_bringup)/urdf/rgbd_camera.gazebo.xacro"/>
    <joint type="fixed" name="rgbd_camera_joint">
        <origin xyz="0.03 0 0.071" rpy="0 -0.35 0"/>
        <child link="rgbd_camera_link"/>
        <parent link="base_link"/>
        <axis xyz="0 1 0" />
    </joint>

    <link name='rgbd_camera_link'>
        <pose>0 0 0 0 0 0</pose>
        <inertial>
            <mass value="0.001"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia
                ixx="1e-6" ixy="0" ixz="0"
                iyy="1e-6" iyz="0"
                izz="1e-6"
            />
        </inertial>

        <collision name='rgbd_camera_collision'>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size=".02 .02 .02"/>
            </geometry>
        </collision>

        <visual name='rgbd_camera_link_visual'>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size=".02 .02 .02"/>
            </geometry>
        </visual>
    </link>
</robot>
