[submodule "gazebo_actor_collisions_plugin"]
	path = gazebo_actor_collisions_plugin
	url = https://github.com/EnjoyRobotics/gazebo_actor_collisions_plugin.git
[submodule "turtlebot3"]
	path = turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = noetic-devel
[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "follow_waypoints"]
	path = follow_waypoints
	url = https://github.com/danielsnider/follow_waypoints.git
