[submodule "gazebo_actor_collisions_plugin"]
	path = gazebo_actor_collisions_plugin
	url = https://github.com/EnjoyRobotics/gazebo_actor_collisions_plugin.git
[submodule "follow_waypoints"]
	path = follow_waypoints
	url = https://github.com/danielsnider/follow_waypoints.git
