<?xml version="1.0"?>
<launch>

  <!-- Map file for localization -->
  <arg name="map_file" default="$(find pie_bringup)/maps/map.yaml"/>

  <!-- Launch our Gazebo world -->
  <include file="$(find pie_bringup)/launch/amcl.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <rosparam file="$(find pie_bringup)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find pie_bringup)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pie_bringup)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pie_bringup)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pie_bringup)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pie_bringup)/config/dwa_local_planner_params.yaml" command="load" />
  </node>

  <!-- Follow waypoints -->
  <param name="wait_duration" value="2.0"/>
  <param name="waypoints_to_follow_topic" value="/waypoint"/>
  <node pkg="follow_waypoints" type="follow_waypoints" name="follow_waypoints" output="screen">
    <param name="goal_frame_id" value="map"/>
  </node>

</launch>
