<!-- Launch robot ready for remote control -->
<launch>
  <arg name="model" default="burger"/>
  <arg name="world_file" default="$(find pie_bringup)/worlds/world_basic.world"/>
  <arg name="x_pos" default="2.5"/>
  <arg name="y_pos" default="0.1"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw_pos" default="1.57"/>
  <arg name="visualize_laser" default="true"/>
  <arg name="multi_robot_name" default=""/>

<!-- Launching world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

<!-- Importing robot description -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file) laser_visual:=$(arg visualize_laser)" />

<!-- Launching gazebo with turtlebot3_burger.urdf.xacro and turtlebot3_burger.gazebo.xacro -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
    args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos) -param robot_description" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>
</launch>
