<?xml version="1.0"?>
<launch>
  <arg name="world" default="$(find pie_bringup)/worlds/20m_corridor_features.world" />

  <include file="$(find pie_bringup)/launch/simulation.launch" >
    <arg name="world_name" value="$(arg world)"/>
    <arg name="x" default="2.5"/>
    <arg name="y" default="1.5"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
  </include>
</launch>
