<?xml version="1.0"?>

<model>
  <name>Actor walk</name>
  <version>1.0</version>
  <sdf version="1.6">file:///home/turtlewizard/bme_msc1/ros-rob-project-mapping/workspace/src/robot_startup/worlds/actors/bob_the_walker/model.sdf</sdf>

  <author>
    <name></name>
    <email></email>
  </author>

  <description>
    An animated walking actor.
  </description>
</model>
