<!-- Launch robot ready for remote control -->
<launch>
  <arg name="model" default="burger"/>
  <arg name="world" default="$(find pie_bringup)/worlds/world_basic_actors.world"/>
  <arg name="x_pos" default="2.5"/>
  <arg name="y_pos" default="0.1"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw_pos" default="1.57"/>
  <arg name="visualize_laser" default="true"/>
  <arg name="use_camera" default="false"/>
  <arg name="visualize_camera" default="false"/>
  <arg name="use_rgbd_camera" default="false"/>
  <arg name="visualize_rgbd_camera" default="false"/>
  <arg name="multi_robot_name" default=""/>
  <arg name="gazebo_gui" default="true"/>

<!-- Launching world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

<!-- Importing robot description -->
  <arg name="xacro_file" default="$(find xacro)/xacro --inorder '$(find pie_bringup)/urdf/pie_bot.urdf.xacro'"/>
  <param name="robot_description"
    command="$(arg xacro_file)
      laser_visual:=$(arg visualize_laser)
      use_camera:=$(arg use_camera)
      camera_visual:=$(arg visualize_camera)
      use_rgbd_camera:=$(arg use_rgbd_camera)
      rgbd_camera_visual:=$(arg visualize_rgbd_camera)"/>


  <!-- Send joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

   <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <param name="publish_frequency" type="double" value="20.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <!-- Launching gazebo with turtlebot3_burger.urdf.xacro and turtlebot3_burger.gazebo.xacro -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -param robot_description -model pie_bot
      -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos)"/>

</launch>
